body{
    margin: 0;
    background-color: black;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}


li a {
    color:beige;
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    display: block;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-right: px;
}

